include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include LICENSE
recursive-include cyberrdp_audit_suite/data *.json
recursive-include cyberrdp_audit_suite/templates *.html
